body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #233142 ;
    font-family: 'Courier New', Courier, monospace;
}

header{
    width: 100vw;
    height: 10vh;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    color: white;
}

section{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes showUp {
    0%{
        top: -100%;
        opacity: 0;
    }100%{
        top: 10%;
        opacity: 1;
    }
}

@keyframes dontShowUp{
    0%{
        top: 10%;
        opacity: 1;
    }100%{
        top: -100%;
        opacity: 0;
    }
}

.customAlertBox,.customAlertCalc{
    display: none;
    position: fixed;
    animation: showUp 1s;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    background-color: #bd4b4b;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 9999;
    font-family: 'Courier New', Courier, monospace;
}

.customAlertCalc{
    background-color:#ff9800;
}


.alertBoxButton{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bd4b4b;
    color: white;
    border-color: transparent;
    cursor: pointer;
    border-top-right-radius: 10px;
}

.alertBoxButton:hover{
    color: black;
}

#calculator-lyt{
    width: 40vw;
    height: 70vh;
    border:2px solid rgb(152, 152, 152);
    border-radius: 5px;
}

.calculator-disabled{
    pointer-events: none;
}


footer{
    width: 100vw;
    height: 10vh;
}

table{
    width: 100%;
    height: 90%;
    background-color: #233142;
    border-top: 2px solid rgb(152, 152, 152);
    border-radius: 2px;
}

#calculator-lyt button:hover{
    background-color: #364c67;
    box-shadow: 0px 2px 0px 0px white;
}

th{
    width: 25%;
}

td{
    width: 25%;
}

#result{
    width: 100%;
    height: 10%;
    border: none;
    background-color: #233142;
    font-size: 2em;
    color: white;
    padding: 0;
    margin: 0;
}
#result:focus{
    outline: none;
}

#btnCalc,#btnNumber,#btnReset{
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: bolder;
    background-color: #455d7a;
    border: none;
}

#btnCalc,#btnReset{
    color: #f95959;
}

